{% extends 'base.html.twig' %}

{% block title %}Wishes detail{% endblock %}

{% block main %}
    <main>
        <div>
            <strong>{{ wish.title }}</strong>
            {% if wish.description is not null %}
                <p>Description : {{ wish.description }}</p>
            {% else %}
                <p>Il n'y a pas de description</p>
            {% endif %}
            <p>Auteur : {{ wish.author }}</p>
            <p>Date de création : {{ wish.dateCreated | date('Y-m-d') }}</p>
            <p>
                <a href="{{ path('wish_delete', { id: wish.id }) }}"><button>Delete</button></a>
                <a href="{{ path('wish_update', { id: wish.id }) }}"><button>Modify</button></a>
            </p>
        </div>
    </main>
{% endblock %}
